h1 {
    font-size: 70px;
    color: blanchedalmond;
    background-color:rgb(7, 120,8);
  }

li {
    font-size: 30px;
    color: rgb(102, 70, 38);
    background-color: black;

}

h3 {
    font-size: 50px;
    color: rgb(25, 130, 143);
    background-color:rgb(235, 161, 210);
}